* {
  font-family: 'Roboto', sans-serif;
}

.jumbotron {
  background-image: linear-gradient( RGB(255, 193, 6),#ffffff 74%);
    /* background-color: #f4511e; */
    font-size: x-large;
    text-align: center;
}

 .five-day {
  display: inline-block;
  margin: 0 auto;

 }