* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.jumbotron {
  background-image: linear-gradient(RGB(255, 193, 6), #ffffff 74%);
  /* background-color: #f4511e; */
  font-size: x-large;
  text-align: center;
}

.five-day {
  font-size: x-large;
  display: flex;
  justify-content: center;  
}

@media only screen and (max-width: 600) {
  .five-day {
    display: block;
  }

@media only screen and (max-width: 600) {
  .jumbotron {
    font-size: large;
  }
